@using JBD.DATA.Enums
@model IEnumerable<JBD.ViewModel.ExcludeKeywordVM>
@{
    ViewBag.Title = "Exclusion Settings";
    ViewData["ActiveMenu"] = "Exclusion";
    Layout = "_AdminLayout";

    ViewData["PageHeading"] = "Exclusion Settings";
    ViewData["PageHreadcrumb"] = "Settings - Exclusion";
}

<style>
    .custom-textarea {
        width: 500px !important; /* Adjust the width as needed */
        height: 500px; /* Adjust the height as needed */
        border-color: var(--bs-text-muted) !important; /* Adjust the border color as needed */
    }
</style>

<div class="d-flex flex-column flex-md-row rounded border p-10" bis_skin_checked="1">
    <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px col-md-2" role="tablist">
        <!--begin::Excluded: ASINs-->
        <li class="nav-item w-100" role="presentation">
            <a id="@ExcludeKeywordType.Asin.ToString()" class="nav-link w-100 btn btn-flex btn-active-light-success active" data-bs-toggle="tab" href="#kt_vtab_pane_1" aria-selected="false" role="tab" tabindex="-1">
                <span class="d-flex flex-column align-items-start">
                    <span class="fs-4 fw-bold">ASINs</span>
                    <span class="fs-7">Excluded Keyword</span>
                </span>
            </a>
        </li>
        <!--end::Excluded: ASINs-->
        <!--begin::Excluded: product name-->
        <li class="nav-item w-100" role="presentation">
            <a id="@ExcludeKeywordType.ProductName.ToString()" class="nav-link w-100 btn btn-flex btn-active-light-success" data-bs-toggle="tab" href="#kt_vtab_pane_2" aria-selected="false" role="tab" tabindex="-1">
                <span class="d-flex flex-column align-items-start">
                    <span class="fs-4 fw-bold">product name</span>
                    <span class="fs-7">Excluded Keyword</span>
                </span>
            </a>
        </li>
        <!--end::Excluded: product name-->
        <!--begin::Excluded: Brand-->
        <li class="nav-item w-100" role="presentation">
            <a id="@ExcludeKeywordType.Brand.ToString()" class="nav-link w-100 btn btn-flex btn-active-light-success" data-bs-toggle="tab" href="#kt_vtab_pane_3" aria-selected="true" role="tab">
                <span class="d-flex flex-column align-items-start">
                    <span class="fs-4 fw-bold">Brand</span>
                    <span class="fs-7">Excluded Keyword</span>
                </span>
            </a>
        </li>
        <!--end::Excluded: Brand-->
        <!--begin::Excluded: Product Description-->
        <li class="nav-item w-100" role="presentation">
            <a id="@ExcludeKeywordType.ProductDescription.ToString()" class="nav-link w-100 btn btn-flex btn-active-light-success" data-bs-toggle="tab" href="#kt_vtab_pane_4" aria-selected="true" role="tab">
                <span class="d-flex flex-column align-items-start">
                    <span class="fs-4 fw-bold">Product Description</span>
                    <span class="fs-7">Excluded Keyword</span>
                </span>
            </a>
        </li>
        <!--end::Excluded: Product Description-->
        <!--begin::Excluded: Categories (Yahoo)-->
        <li class="nav-item w-100" role="presentation">
            <a id="@ExcludeKeywordType.YahooCategory.ToString()" class="nav-link w-100 btn btn-flex btn-active-light-success" data-bs-toggle="tab" href="#kt_vtab_pane_5" aria-selected="true" role="tab">
                <span class="d-flex flex-column align-items-start">
                    <span class="fs-4 fw-bold">Categories (Yahoo)</span>
                    <span class="fs-7">Excluded Keyword</span>
                </span>
            </a>
        </li>
        <!--end::Excluded: Categories (Yahoo)-->
    </ul>

    <div class="tab-content col-md-10" id="myTabContent" bis_skin_checked="1">
        <!--begin::Excluded: ASINs-->
        <div class="tab-pane fade show active" id="kt_vtab_pane_1" role="tabpanel" bis_skin_checked="1">
            <form method="post" action="Exclusion">
                <div class="form-group">
                    <label class="form-label fs-4 fw-bold">Excluded: ASINs</label>

                    <input type="hidden" name="type" value="@ExcludeKeywordType.Asin.ToString()" />

                    <textarea class="form-control" rows="15" name="keywords" aria-label="With textarea">@string.Join("\n", @Model.Where(k=> k.KeywordType == ExcludeKeywordType.Asin ).Select(k=> k.Keyword))</textarea>

                    <button type="submit" id="btnAsin" class="btn btn-success mt-3">Save</button>
                </div>
            </form>

            <!--begin::Input group-->
            <div class="input-group input-group-solid">
            </div>
            <!--end::Input group-->
            <div>
            </div>
        </div>
        <!--end::Excluded: ASINs-->
        <!--begin::Excluded: product name-->
        <div class="tab-pane fade" id="kt_vtab_pane_2" role="tabpanel" bis_skin_checked="1">
            <form method="post" action="Exclusion">
                <div class="form-group">
                    <label class="form-label fs-4 fw-bold">Tab Exclude: Keyword (product name)</label>

                    <input type="hidden" name="type" value="@ExcludeKeywordType.ProductName.ToString()" />

                    <textarea class="form-control" rows="15" name="keywords" aria-label="With textarea">@string.Join("\n", @Model.Where(k=> k.KeywordType == ExcludeKeywordType.ProductName ).Select(k=> k.Keyword))</textarea>

                    <button type="submit" id="btnAsin" class="btn btn-success mt-3">Save</button>
                </div>
            </form>
        </div>
        <!--end::Excluded: product name-->
        <!--begin::Excluded: Brand-->
        <div class="tab-pane fade" id="kt_vtab_pane_3" role="tabpanel" bis_skin_checked="1">
            
            <form method="post" action="Exclusion">
                <div class="form-group">
                    <label class="form-label fs-4 fw-bold">Tab Exclude: Keyword Brand</label>

                    <input type="hidden" name="type" value="@ExcludeKeywordType.Brand.ToString()" />

                    <textarea class="form-control" rows="15" name="keywords" aria-label="With textarea">@string.Join("\n", @Model.Where(k=> k.KeywordType == ExcludeKeywordType.Brand ).Select(k=> k.Keyword))</textarea>

                    <button type="submit" id="btnAsin" class="btn btn-success mt-3">Save</button>
                </div>
            </form>
        </div>
        <!--end::Excluded: Brand-->
        <!--begin::Excluded: product Description-->
        <div class="tab-pane fade" id="kt_vtab_pane_4" role="tabpanel" bis_skin_checked="1">
            <form method="post" action="Exclusion">
                <div class="form-group">
                    <label class="form-label fs-4 fw-bold">Tab Exclusions: Product Description</label>

                    <input type="hidden" name="type" value="@ExcludeKeywordType.ProductDescription.ToString()" />

                    <textarea class="form-control" rows="15" name="keywords" aria-label="With textarea">@string.Join("\n", @Model.Where(k=> k.KeywordType == ExcludeKeywordType.ProductDescription ).Select(k=> k.Keyword))</textarea>

                    <button type="submit" id="btnAsin" class="btn btn-success mt-3">Save</button>
                </div>
            </form>
        </div>
        <!--end::Excluded: product Description-->
        <!--begin::Excluded:Categories (Yahoo)-->
        <div class="tab-pane fade" id="kt_vtab_pane_5" role="tabpanel" bis_skin_checked="1">
           
            <form method="post" action="Exclusion">
                <div class="form-group">
                    <label class="form-label fs-4 fw-bold">Tab Exclude: Categories (Yahoo)</label>

                    <input type="hidden" name="type" value="@ExcludeKeywordType.YahooCategory.ToString()" />

                    <textarea class="form-control" rows="15" name="keywords" aria-label="With textarea">@string.Join("\n", @Model.Where(k=> k.KeywordType == ExcludeKeywordType.YahooCategory ).Select(k=> k.Keyword))</textarea>

                    <button type="submit" id="btnAsin" class="btn btn-success mt-3">Save</button>
                </div>
            </form>
        </div>
        <!--begin::Excluded: Categories (Yahoo)-->
    </div>
</div>
@section Scripts {
    @*    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    @*<script src="myscript.js"></script>*@
    <script>
        // JavaScript code specific to this view

        // Wait for the document to be ready
        $(document).ready(function() {

            const activeNav = '@TempData["ActiveTab"]';
      
            if (activeNav) {
                $(`#${activeNav}`).tab('show');
            }
        });
    </script>
}